@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
cor primaria: #F9D84D
cor secundaria: #F94D58
cor secundaria CLARA: #F94D58
cor primaria CLARA: #FD9CA3
cor de fundo: #333333
cor de texto: #cccccc
*/

/*variaveis*/
:root {
    --cor-prim: #F9D84D;
    --cor-prim-clara: #FFEC9C;
    --cor-secun: #F94D58;
    --cor-secun-clara: #FD9CA3;
    --cor-texto:  #EEEEEE;
    --cor-fundo: #333333;
    --cor-fundo-clara: #555555;
    --fonte-texto: 'IBM Plex Sans', sans-serif;
    --fonte-titulo: 'Playfair Display SC', serif;
}
/**************** CSS reset ************************/
/*todos elementos*/
* {
    font-family: var(--fonte-texto);
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*a borda faz parte das dimensoes do elemento*/
   /* background-color: var(--cor-fundo);*/
}
/************************************************/
header {
    display: flex;
    justify-content: center;  /*centralizado horizontal */
    align-items: center;   /*centralizado vertical */
    background-color: var(--cor-prim);
    min-height: 50px; /* altura minima */
    flex-wrap: wrap; /*força a quebra de linha*/
}
#img-logo {
    background-color: transparent !important;
}
main {
    display: flex;
    justify-content: center;  /*centralizado horizontal */
    align-items: stretch;   /*filhos com 100% a altura do pai */
    min-height: 200px; /* altura minima */
}
footer {
    display: flex;
    justify-content: center;  /*centralizado horizontal */
    align-items: center;   /*centralizado vertical */
    border: 1px solid deeppink;
    background-color: var(--cor-fundo-clara);
    min-height: 50px; /* altura minima */
}
#menu-principal {
    display: flex;
    justify-content: center;  /*centralizado horizontal */
    align-items: center;   /*centralizado vertical */
    background-color: var(--cor-secun);
    min-height: 25px; /* altura minima */
    width: 100%;

}
#menu-principal ul { /* afeta o <ul> dentro de #menu-principal*/
   list-style: none; /*tira a decoração dos itens da lista */
   display: flex; /*container flex - todos os itens filhos na horizontal por padrao*/
}
#menu-principal ul li {
    height: 36px;
    margin: 0 10px; /* 0 topo, fundo; 10px esquerda e direita */
    display: flex;
    align-content: center;
    
}
#menu-principal ul li a {
    
    height: 36px;
    font-family: var(--fonte-titulo);
    align-content: center;
    padding: 0 10px;
    color: var(--color-texto);
    text-decoration: none; /* sem sublinhado */
    background-color: var(--cor-secun);
    transition: 300ms; /*afeta a velocidade dos efeitos hover*/
}
/*quando passa o mouse por cima do link*/
#menu-principal ul li a:hover {
    /*filtro que escurece a cor do item (cor de frente)
    * cor de fundo
    brightness < 1: escurece
    brightness > 1: clareia*/
   
    filter: brightness(0.8);
}

section {
    display: flex;
    justify-content: center;  /*centralizado horizontal */
    align-items: center;   /*centralizado vertical */
    flex-direction: column; /*itens filhos em coluna (na vertical)*/
    border: 1px solid indigo;
    background-color: mediumpurple;
    width: 75%;
    margin: 5px;
   
}
aside {
    display: flex;
    justify-content: center;  /*centralizado horizontal */
    align-items: center;   /*centralizado vertical */
    border: 1px solid dimgray;
    background-color: lightgray;
    width: 25%;
    margin: 5px;
}
article {
    display: flex;
    justify-content: center;  /*centralizado horizontal */
    align-items: center;   /*centralizado vertical */
    border: 1px solid sienna;
    background-color: linen;
    margin: 5px;
    min-height: 100px;
    width: 100%;
}
/* regras para tela com largura de ate 600px */
@media screen and (max-width: 600px) {

    main {
        /*muda a direção dos filhos para coluna (vertical)*/
        flex-direction: column;
    }
/*section e aside ficam com 100% de largura*/
    section, aside {
        width: 100%;
    }
}
